{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogStream",
                "logs:PutLogEvents"
            ],
            "Resource": [
                "arn:aws:logs:${region}:${account}:log-group:${logGroup}",
                "arn:aws:logs:${region}:${account}:log-group:${logGroup}:log-stream:*"
            ]
        }
    ]
}